.info-img{
    width: 40px !important;
}
.log{
    width: 48%;
    height: fit-content;
}
.book .book{
    max-height: 100vh;
    overflow-y: scroll;
}
header{
    top: -60px !important;
    z-index: 3;
}
.edit-icon{
    display: inline;
    width: 25px;
    margin-top: -2px;
}
.hold{
    top: -5px;
    z-index: 2;
}
.top{
    border-radius: 50%;
    position: fixed;
    bottom: 40px;
    right: 32px;
    z-index: 10;
}
.top img{
    width: 30px;
}
.log-content{
    width: 100% !important;
    min-height: 95px;
}
textarea, .log-content{
    line-height: 3ch !important;
    background-image: linear-gradient(transparent, transparent calc(3ch - 1px), rgb(158, 158, 158) 0px);
    background-size: 50% 3ch;
    overflow-y: visible;
}
.review{
    background-image: none !important;
}
.panel {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
}
@media screen and (max-width: 850px) {
    header{
        top: -69px !important;
    }
    .book .book{
        /* max-height: none; */
        overflow-y: auto;
    }
}
@media screen and (max-width: 600px) {
    header{
        padding-right: 15px !important;
    }
    .log{
        width: 100%;
    }
    .top{
        bottom: 40px;
        right: 13px;
    }
}