nav{
    min-width: 230px;
    z-index: 2;
}
.mobile-nav{
    background-color: rgba(245, 245, 244, 0.527);
    z-index: 1;
    backdrop-filter: blur(5px);
}
.menu{
    width: 40px !important;
}
@media screen and (max-width: 850px) {
    .slide-in{
        animation: nav-in 1.5s !important;
        left: 0px;
    }
    .slide-out{
        animation: nav-out 1.5s !important; 
        left: -230px;
    }
}
@keyframes nav-in {
    0%{left: -230px}
    100%{left: 0px}
}
@keyframes nav-out {
    0%{left: 0px}
    100%{left: -230px}
}