@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

.internal{
    overflow: hidden;
    overflow-y: auto;
}

button{
    transition: all ease 0.15s !important;
}
button:active{
    transform: scale(0.9) !important;
}